//style.css

body {
	background-color: pink;
	background-size: 100%;
	background-repeat: no-repeat;
}

body {
	background-color: pink;
	background-image: url(Images/background.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color: red;
}

a:hover {
	background-color: lightblue;
	color: blue;
}

p span {
	padding: 10;
	background-color: pink;
	color: black;
	font-family: arial;
	font-size: 26;
}

p.bio {
	color: white;
	background-color: purple;
	padding: 20;
	border: solid;
	border-width: 5;
	border-color: hotpink;
	font-family: arial;
	font-size: 18;
}

div {
  width: 1200px;
  padding: 0px;
}

#prof {
	border-radius: 50%;
}

h1 {
	color: white
}

h4 {
	color: hotpink;
}
